<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<integer>360</integer>
	<key>angleVariance</key>
	<integer>360</integer>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>duration</key>
	<real>0.01</real>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<real>0.31</real>
	<key>finishColorBlue</key>
	<real>0</real>
	<key>finishColorGreen</key>
	<real>0.31</real>
	<key>finishColorRed</key>
	<real>0.74</real>
	<key>finishColorVarianceAlpha</key>
	<integer>0</integer>
	<key>finishColorVarianceBlue</key>
	<integer>0</integer>
	<key>finishColorVarianceGreen</key>
	<integer>0</integer>
	<key>finishColorVarianceRed</key>
	<integer>0</integer>
	<key>finishParticleSize</key>
	<integer>2</integer>
	<key>finishParticleSizeVariance</key>
	<integer>19</integer>
	<key>gravityx</key>
	<integer>0</integer>
	<key>gravityy</key>
	<integer>0</integer>
	<key>maxParticles</key>
	<integer>150</integer>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<integer>10</integer>
	<key>particleLifespan</key>
	<integer>0</integer>
	<key>particleLifespanVariance</key>
	<real>0.45</real>
	<key>radialAccelVariance</key>
	<integer>300</integer>
	<key>radialAcceleration</key>
	<integer>-150</integer>
	<key>rotatePerSecond</key>
	<real>0</real>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<integer>10</integer>
	<key>sourcePositionVariancey</key>
	<integer>10</integer>
	<key>sourcePositionx</key>
	<integer>0</integer>
	<key>sourcePositiony</key>
	<integer>0</integer>
	<key>speed</key>
	<integer>300</integer>
	<key>speedVariance</key>
	<integer>20</integer>
	<key>startColorAlpha</key>
	<integer>1</integer>
	<key>startColorBlue</key>
	<real>0.36</real>
	<key>startColorGreen</key>
	<real>0.55</real>
	<key>startColorRed</key>
	<real>0.89</real>
	<key>startColorVarianceAlpha</key>
	<real>0.5</real>
	<key>startColorVarianceBlue</key>
	<real>0.2</real>
	<key>startColorVarianceGreen</key>
	<real>0.2</real>
	<key>startColorVarianceRed</key>
	<real>0.2</real>
	<key>startParticleSize</key>
	<integer>7</integer>
	<key>startParticleSizeVariance</key>
	<integer>25</integer>
	<key>tangentialAccelVariance</key>
	<integer>-145</integer>
	<key>tangentialAcceleration</key>
	<integer>65</integer>
	<key>textureFileName</key>
	<string>fire.png</string>
</dict>
</plist>
