<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flash</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>live</key>
            <dict>
                <key>frame</key>
                <string>{{182,450},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>live_off</key>
            <dict>
                <key>frame</key>
                <string>{{118,450},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>restart_down</key>
            <dict>
                <key>frame</key>
                <string>{{306,446},{58,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>restart_up</key>
            <dict>
                <key>frame</key>
                <string>{{246,450},{58,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>speaker0</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{72,72}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,19},{72,72}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>speaker100</key>
            <dict>
                <key>frame</key>
                <string>{{264,304},{140,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,118}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>speaker50</key>
            <dict>
                <key>frame</key>
                <string>{{384,386},{100,88}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{100,88}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>splash0</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{114,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{114,150}}</string>
                <key>sourceSize</key>
                <string>{116,152}</string>
            </dict>
            <key>splash1</key>
            <dict>
                <key>frame</key>
                <string>{{384,134},{126,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>splash2</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{126,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{126,130}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>splash3</key>
            <dict>
                <key>frame</key>
                <string>{{384,266},{126,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{126,118}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>splash4</key>
            <dict>
                <key>frame</key>
                <string>{{118,304},{144,144}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{144,144}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>textures-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
